page-welcome {
    background: color($colors, primary);
    h1{
        font-size: 52px;
        margin-top:50px
    }
    .marginTop{
        margin-top:150px;
    }
    .main_logo{
        height: 27vh;
        width: auto;
        margin: auto;
        display: block;    
    }
}


